beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
et-xmlfile==1.0.1
idna==2.7
IMAPClient==2.1.0
jdcal==1.4
lxml==4.2.4
openpyxl==2.5.5
Pillow==5.2.0
PyAutoGUI==0.9.38
PyJWT==1.6.4
PyMsgBox==1.0.6
PyPDF4==1.27.0
PyScreeze==0.1.18
PySocks==1.6.8
pyperclip==1.7.0
python-docx==0.8.7
python3-xlib==0.15
PyTweening==1.0.3
pytz==2018.5
pyzmail36==1.0.3
requests==2.19.1
six==1.11.0
twilio==6.16.4
urllib3==1.23
