alabaster==0.7.12
docutils==0.14
imagesize==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
packaging==18.0
pockets==0.7.2
Pygments==2.2.0
pyparsing==2.3.0
snowballstemmer==1.2.1
Sphinx==1.8.2
sphinx-rtd-theme==0.4.2
sphinxcontrib-napoleon==0.7
sphinxcontrib-websupport==1.1.0
